/* login */
@font-face {
  font-family: 'prach';
  src: url(/public/Rubik-VariableFont_wght.ttf);
}

.loginContainer {
    width: 50%;
    background-color: rgb(255, 255, 255);
    height: 50%;
    margin-top: 5%;
    padding:5%;
    margin-left: 20%;
    font-family: 'prach';
    
}
.loginContents{
    margin-left: 12%;
}

@media (max-width: 1024px) {
    .loginContainer{
        margin-left: 12%;
        width:60%;
  }
  .loginContents{
    margin-left: 12%;
  }
}

@media (max-width: 768px) {
    .loginContainer{
        margin-left: 12%;
        width:60%;
  }
  .loginContents{
    margin-left: 12%;
  }
}