/* Main */

.mainContainer{
    /* width:50rem;
    height: 60rem; */
    /* display: flex;
    justify-content: center;
    border-radius: 3px; */
    background-color: beige;
    margin-right: 0 !important;
}