/* NewProject */

/* 
.newProjectContainer{
    display:block;
    width:100%;
}

.topHalf {
    height:30%;
    width: 100%;
    display: block;
}

.topLeft {
    display:flex;
    justify-content: flex-start;
}

.topRight {
    display:flex;
    justify-content: flex-end;
}

.midPage{
    display:block;
    width: 100%;
    height:15%
}

.bottonHalf{
    display: block;
    min-height: 40%;
    border: 4px;
    border-color: black;
    border-style: dashed;
}

.bottomLeft {
    display: flex;
    justify-content: flex-start;
}

.bottomRight {
    display:flex;
    justify-content: flex-end;
} */
