/* All Projects */
@font-face {
  font-family: 'proganda';
  src: url(/public/Progandaeeducation-P5WB.ttf);
}

.communityHeader{
    background-color: salmon;
    width:95%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    height:4rem;
} 

#title {
  font-family: 'proganda';
  font-size: 27px;
}

.allProjectsHFive{
  color:White;
  padding-top: 4px;
  margin:8px;
  margin-left: 18px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight:bolder;
}

.containerForAll {
  width: 98%;
}

.containerAllProj{
  margin-top:15px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 95%;
  height: auto; 
  /* background-color: rgb(255, 255, 255); */
  margin-top: 3px;
  margin-bottom: 3px;
  /* border-radius: 3px; */
  /* border-color: rgba(1, 1, 1, 0.433); */
  /* border-style:solid;
  border-width: 2px; */
}

@media (max-width: 1190px) {
  .containerAllProj{
    margin-top:15px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .containerAllProj{
    margin-top:15px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 95%;
  }
}

@media (max-width: 408px) {
  .containerAllProj{
    margin-top:15px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    width: 95%;
    margin-left:70px;
  }

  
}