.signupContainer {
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:5%
}


label {
    margin-top: 5px;
   
}

.avatar {
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .signupContainer{
        margin-left: 11%;
  }
}