/* Single Project */

header{
    background-color: rgb(48, 42, 75);
    width:80%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
  
} 

h3{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bolder;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 10px;
    color:white;
}

.starBtn{
    margin-top:15px;
    margin-left: 250px;
}

.starBtnBtn{
    background-color: rgb(101, 207, 219);
    border-radius: 50px;
    border-style: dotted;
    border-color: aliceblue;
    margin: 2px;
    
}

.contLabel{
    font-size: small;
    font-style: italic;
}


.topTwo{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width:80%;
}

.gradeGrid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.projImg {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
}

.topRight{
    margin-left: 5px;
   
}

.answers{
    font-size: smaller;
    font-weight: bolder;
}
.midText{
    margin-left: 8px;
}
.midPage{
    width: 80%;
    margin-top:5px;
}

.bottomOfPage{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.btmLeft{
    width:25rem;
    margin-top:5px;
  
}

.directionsContainer{
    margin:8px;
}

.btmRightTxt{
    margin-top: 5px;
    margin-left: 5px;
}

.bottomRightContent{
    margin: 8px;
}


@media (max-width: 1024px) {
    .gradeGrid{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .midPageCard{
        width: 77.5%;
        
    }
    .midPage{
        width:70%;
        margin-top: 35px;
    }
    .bottomOfPage{
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .gradeGrid{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .midPageCard{
        width: 91.5%; 
        padding-bottom: 12px;
    }
    .midPage{
        width:60%;
       
    }
    .bottomOfPage{
        margin-top: 5px;
        width: 60%;
    }
    .btmRightTxt{
       width: 179px;
    }
}
