/* Single Project */

header{
    background-color: rgb(48, 42, 75);
    width:80%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
  
} 

h3{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bolder;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: 10px;
    color:white;
}

.contLabel{
    font-size: small;
    font-style: italic;
}


.topTwo{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width:80%;
}

.gradeGrid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.projImg {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
}

.topRight{
    margin-left: 5px;
   
}


.answers{
    font-size: smaller;
    font-weight: bolder;
}

.midPage{
    width: 80%;
    height:70px;
    background-color: white;
    margin-top:5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
}

.bottomOfPage{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   
}

.btmLeft{
    width:25rem;
    
    background-color: white;
    margin-top:5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
}

.btmRightTxt{
    background-color: white;
    margin-left: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    height:25rem;
    margin-top: 5px;
}
